name: Go
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Fmt
        run: test -z $(go fmt ./...)
      - name: Vet
        run: go vet ./...
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
